@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");

@font-face {
  font-family: "IropkeBatangM";
  src: url("./fonts/IropkeBatangM.otf") format("opentype");
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  background-color: white;

  font-family: "IropkeBatangM";
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;

  overflow: hidden;
}
